html{
    scroll-behavior: smooth;
}

.slide{
    transform: translateX(-200px);
    padding-inline: 60px;
}
.desktopSlide{
    transform: translateX(-200px);
    padding-inline: 60px;
}
.imageBox{

}